* {
	box-sizing: border-box;
	color: #dddddd;
	font-family: fantasy;
}

canvas { 
	width: 100%; 
	height: 100%;
}

body {
	margin: 0;
	background-color: rgba(30, 0, 30, 1);
	background-image: linear-gradient(to bottom, rgb(50,0,50), rgb(20,0,20));
	text-align: center;
	position: relative;
	object-fit: cover;
}

#ball {
	position: relative;
	margin: 0 auto;
	padding: 150px;
	top: 0px;
	height: 650px;
	width: 650px;
	border: 1px solid #202020;
	border-radius: 325px;
	background-color: #000000;
	background: url('/images/ball.png') top center no-repeat;
}

#ballwindow {
	position: relative;
	height: 300px;
	width: 300px;
	border-radius: 145px;
	background-color: #111111;
	background: url('/images/ballwindow.png') top center no-repeat;
	border-image: linear-gradient(to top right, #313131, #000000);
}

#triangle {
	position: relative;
	height: 300px;
	width: 300px;
	border-radius: 145px;
}


.header {
}

.header h1 {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.header h3 {
	margin-top: 0px;
	padding-top: 0px;
}

.red {
	background-color: red !important;
}

.btn {
	background-color: #005500 !important;
	border: 1px solid #002200 !important;
	vertical-align: top !important;
}

#response-list {
	font-size: 1em;
	line-height: 2em;
	list-style-image: url('http://www.globaliconnect.com/excel/templates/protostar/images/system/rating_star.png');
}

.weather-form {
	width: 100%;
}
.weather-input  {
	display: inline;
	background-color: #fff;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	border: 1px solid #ccc;
	width: 70%;
}